BasedOnStyle: Google
IndentWidth: 4
TabWidth: 4
UseTab: Never
ColumnLimit: 100
AccessModifierOffset: -2
NamespaceIndentation: All
PointerAlignment: Left
BreakBeforeBraces: Attach
AllowShortFunctionsOnASingleLine: Inline
SpaceBeforeParens: ControlStatements
SpacesInParentheses: false
SpacesInAngles: false
SpacesBeforeTrailingComments: 2
IncludeBlocks: Regroup
SortIncludes: true
AlignAfterOpenBracket: Align
AllowShortBlocksOnASingleLine: Never
AllowShortIfStatementsOnASingleLine: false
AlignTrailingComments: true
KeepEmptyLinesAtTheStartOfBlocks: false
DerivePointerAlignment: false
